{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["react", "jsx-a11y", "import", "prettier", "@typescript-eslint"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    // prettier
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    // TypeScript
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",

    // React
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".tsx", ".js", ".jsx", ".ts"] }
    ],
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/prop-types": ["off", {}],
    // import
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
      // { "devDependencies": true }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".ts", ".jsx", ".tsx", ".json"]
      }
    }
    // "import/extensions": [".js", ".ts", ".mjs", ".jsx", ".tsx"]
  }
}
